<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if messages %}

    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>

    {% endif %} {% if request.user.is_authenticated %}

    <p>Welcome User. <a href="{% url 'logout' %}">Logout</a></p>
    <p>Here you can schedule events.</p>
    <a href="{% url 'create_event' %} ">Schedule New Event</a>
    <p>Here you can see list of your events :</p>

    <a href="{% url 'pending' %}">Pending Events</a>

    {% elif page == 'home' %}

    <p>Welcome to the Request Scheduler.</p>

    <p>
      <a href="{% url 'login' %}">Log In</a>
    </p>

    <p>
      <a href="{% url 'register' %}">Register</a>
    </p>
    {% endif %} {% block content %} {% endblock content %}
  </body>
</html>
